.main {
  display: flex;
  flex-direction: row;

  height: 100vh;
  border: 1px;
  border-color: black;
  border-style: solid;
}

.section-contact {
  display: flex;
  flex-direction: column;
  min-width: 250px;
  border-right: 1px;
  border-right-color: black;
  border-right-style: solid;
}

.container-principal-contact {
  display: flex;
  padding: 1px;
  border-bottom: 1px;
  border-bottom-color: black;
  border-bottom-style: solid;
}
.principal-contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 5px;
  padding: 3px 10px;
}

.contact-img {
  width: 40px;
  height: 40px;
  border-radius: 30px;
}

.container-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
  color: white;
  border-bottom: 1px;
  border-bottom-color: black;
  border-bottom-style: solid;
}
button {
  background-color: plum;
  padding: 10px;
}
.container-contact {
  display: flex;
  flex-direction: column;
  padding: 1px;
}

.contact {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 5px 10px;
  gap: 20px;
  border-bottom: 1px;
  border-bottom-color: black;
  border-bottom-style: solid;
}
.contact img {
  width: 40px;
  height: 40px;
  border-radius: 30px;
}

h5 {
  margin: 0;
}
h6 {
  margin: 0;
}

p {
  margin: 0;
}

/*-------- Networking */

.container-networking {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.nertworking-img {
  width: 300px;
}
.description-networking {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Lucida Sans";
  color: rgb(32, 30, 30);
  font-size: 16px;
}
